@model Inter.Core.App.ViewModel.CollegeViewModel
@using Inter.Core.App.Enumerables

<input type="hidden" id="collegeId" value="@Model.Id" />

<div class="col-lg-6">
    <!-- Circle Buttons -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">@Model.Name</h6>
        </div>
        <div class="card-body">
            <div class="small mb-1"></div>
            <nav class="navbar navbar-expand navbar-light bg-light mb-4">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Actions
                        </a>
                        <div class="dropdown-menu dropdown-menu-right animated--grow-in" aria-labelledby="navbarDropdown">
                            <a href="#" onclick="college.openModalAddCollegeTime()" class="dropdown-item" data-toggle="modal" data-target="#modalinsertTimeCollege">+ Add College Time</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="@Url.Action("Edit", "College", new { id = Model.Id })">Edit</a>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="card-body">

            <dl class="row">
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Address)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Address)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.City)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.City)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Country)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Country)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.ContactName)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.ContactName)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.PhoneNumber)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Email)
                </dd>

            </dl>
        </div>
    </div>


    @foreach (var time in Model.CollegeTimeViewModel)
    {
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">@time.Period</h6>
            </div>

            <div class="card-body">

                <div class="small mb-1">@Model.Name</div>
                <nav class="navbar navbar-expand navbar-light bg-light mb-4">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Actions
                            </a>
                            <div class="dropdown-menu dropdown-menu-right animated--grow-in" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="javascript:college.editCollegeTime(@time.Id)">Edit</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="javascript:college.popUpConfirmDeleteCollegeTime(@time.Id)">Delete</a>
                            </div>
                        </li>
                    </ul>
                </nav>

                <p>@time.Note!</p>
                <!-- Circle Buttons (Default) -->

                <dl class="row">
                    <dt class="col-sm-6">
                        Start Time
                    </dt>
                    <dd class="col-sm-6">
                        @time.StartTime.ToString("H:mm")
                    </dd>
                    <dt class="col-sm-6">
                        Finish Time
                    </dt>
                    <dd class="col-sm-6">
                        @time.FinishTime.ToString("H:mm")
                    </dd>
                    <dt class="col-sm-6">
                        Days of Week
                    </dt>
                    <dd class="col-sm-6">
                        @time.DaysOfWeek
                    </dd>
                    <dt class="col-sm-6">
                        Time for Week
                    </dt>
                    <dd class="col-sm-6">
                        @time.TimeForWeek
                    </dd>
                    <dt class="col-sm-6">
                        Book Price
                    </dt>
                    <dd class="col-sm-6">
                        @time.BookPrice
                    </dd>
                    <dt class="col-sm-6">
                        Exam Price
                    </dt>
                    <dd class="col-sm-6">
                        @time.ExamPrice
                    </dd>
                    <dt class="col-sm-6">
                        Insurance Price
                    </dt>
                    <dd class="col-sm-6">
                        @time.InsurancePrice
                    </dd>
                    <dt class="col-sm-6">
                        Accomodation Price
                    </dt>
                    <dd class="col-sm-6">
                        @time.AccomodationPrice
                    </dd>
                    <dt class="col-sm-6">
                        Porcentage
                    </dt>
                    <dd class="col-sm-6">
                        @time.PercentagePrice %
                    </dd>
                    <dt class="col-sm-6">
                        Total Price
                    </dt>
                    <dd class="col-sm-6">
                        @time.Price
                    </dd>

                </dl>
            </div>
        </div>
    }

</div>

@await Html.PartialAsync("~/Views/Shared/_partial/_modalDelete.cshtml")

<div id="div-modal-edit-college-time" class="modal" role="dialog">

</div>
