@model Inter.Core.App.ViewModel.CulturalExchangeViewModel

<div class="card-body">

    <dl class="row">
        <dt class="col-sm-6">
            Customer Id
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.StudentViewModel.CustomerId)
        </dd>
        <dt class="col-sm-6">
            College
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.CollegeViewModel.Name)
        </dd>
        <dt class="col-sm-6">
            College Time
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.CollegeTimeViewModel.Period)
        </dd>
        <dt class="col-sm-6">
            Start Time
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.CollegeTimeViewModel.StartTime)
        </dd>
        <dt class="col-sm-6">
            Finish Time
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.CollegeTimeViewModel.FinishTime)
        </dd>
        <dt class="col-sm-6">
            Accomodation
        </dt>
        <dd class="col-sm-6">
            @((Model.AccomodationViewModel != null) ? Html.DisplayFor(model => model.AccomodationViewModel.Identifier) : Html.Display("Don't have"))
        </dd>
        <dt class="col-sm-6">
            Address
        </dt>
        <dd class="col-sm-6">
            @((Model.AccomodationViewModel != null) ? Html.DisplayFor(model => model.AccomodationViewModel.Address) : Html.Display("Don't have"))
        </dd>
        <dt class="col-sm-6">
            Days Accomodation
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.QuantityDaysOfAccomodation)
        </dd>
        <dt class="col-sm-6">
            Start Accomodation
        </dt>
        <dd class="col-sm-6">
            @((Model.AccomodationViewModel != null) ? Html.DisplayFor(model => model.StartAccomodation) : Html.Display("Don't have"))
        </dd>
        <dt class="col-sm-6">
            Finish Accomodation
        </dt>
        <dd class="col-sm-6">
            @((Model.AccomodationViewModel != null) ? Html.DisplayFor(model => model.FinishAccomodation) : Html.Display("Don't have"))
        </dd>
        <dt class="col-sm-6">
            INSUR
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.INSUR)
        </dd>
        <dt class="col-sm-6">
            Transfer
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.Transfer)
        </dd>
        <dt class="col-sm-6">
            Support
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.Support)
        </dd>
        <dt class="col-sm-6">
            Kit
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.Kit)
        </dd>
        <dt class="col-sm-6">
            Sim Card
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.SimCard)
        </dd>
        <dt class="col-sm-6">
            Renew
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.Renew)
        </dd>
        <dt class="col-sm-6">
            Arrival Date Time
        </dt>
        <dd class="col-sm-6">
            @Model.ArrivalDateTime
        </dd>
        <dt class="col-sm-6">
            Company
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.Company)
        </dd>
        <dt class="col-sm-6">
            Flight Number
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.FlightNumber)
        </dd>
        <dt class="col-sm-6">
            Sale Person
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.SalesMan)
        </dd>
        <dt class="col-sm-6">
            Total Value
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.TotalValue)
        </dd>
    </dl>
</div>