@model IEnumerable<StudentViewModel>

<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Student</h1>
    <p class="mb-4"><a target="_blank" href="Student/Create">NEW</a></p>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary"></h6>
        </div>

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Customer Id</th>
                            <th>Full Name</th>
                            <th>Gender</th>
                            <th>Email</th>
                            <th>Mobile Number</th>
                            <th>Date Insert</th>
                            <th>City</th>
                            <th>Country</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @item.CustomerId
                                </td>
                                <td>
                                    @item.FullName
                                </td>
                                <td>
                                    @item.Gender
                                </td>
                                <td>
                                    @item.Email
                                </td>
                                <td>
                                    @item.MobileNumber
                                </td>
                                <td>
                                    @item.DateOfInsert.ToString("dd/MM/yyyy")
                                </td>
                                <td>
                                    @item.City
                                </td>
                                <td>
                                    @item.Country
                                </td>
                                <td>

                                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-info btn-circle btn-sm"><i class="fas fa-edit"></i></a>

                                    @*<button onclick="student.openModalImageUpload('@item.Id')" class="btn btn-danger btn-circle btn-sm"><i class="fas fa-plus"></i></button>*@

                                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-facebook btn-circle btn-sm"><i class="fas fa-info"></i></a>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="~/js/demo/datatables.min.js"></script>
<script src="~/js/Student/student.js"></script>