@model ReceivePaymentCulturalExchangeViewModel

<div class="card-body">

    <dl class="row">
        <dt class="col-sm-6">
            Customer Id
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.CulturalExchange.StudentViewModel.CustomerId)
        </dd>
        <dt class="col-sm-6">
            Name
        </dt>
        <dt class="col-sm-6">
            @Html.DisplayFor(model => model.CulturalExchange.StudentViewModel.FullName)
        </dt>
        <dt class="col-sm-6">
            Date of Birthday
        </dt>
        <dt class="col-sm-6">
            @Html.DisplayFor(model => model.CulturalExchange.StudentViewModel.DateOfBirthday)
        </dt>
        <dt class="col-sm-6">
            From
        </dt>
        <dt class="col-sm-6">
            @Html.DisplayFor(model => model.From)
        </dt>
        <dt class="col-sm-6">
            To
        </dt>
        <dt class="col-sm-6">
            @Html.DisplayFor(model => model.To)
        </dt>
        <dt class="col-sm-6">
            Upload Date
        </dt>
        <dt class="col-sm-6">
            @Html.DisplayFor(model => model.UploadDate)
        </dt>
        <dt class="col-sm-6">
            Note
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.Note)
        </dd>
        <dt class="col-sm-6">
            Total Value
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.CulturalExchange.TotalValue)
        </dd>
    </dl>
</div>