@model Inter.Core.App.ViewModel.AccomodationViewModel

<div class="col-lg-6">
    <!-- Circle Buttons -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">@Model.Identifier</h6>
        </div>
        <div class="card-body">
            <div class="small mb-1"></div>
            <nav class="navbar navbar-expand navbar-light bg-light mb-4">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Actions
                        </a>
                        <div class="dropdown-menu dropdown-menu-right animated--grow-in" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="@Url.Action("Edit", "Accomodation", new { id = Model.Id })">Edit</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="javascript:student.popUpConfirmDelete(@Model.Id)">Delete</a>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="card-body">

            <dl class="row">
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Address)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Address)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.ContactName)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.ContactName)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.ContactNumber)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.ContactNumber)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.NumberOfPlaces)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.NumberOfPlaces)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Available)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Available)
                </dd>
            </dl>
        </div>
    </div>
</div>

@await Html.PartialAsync("~/Views/Shared/_partial/_modalDelete.cshtml")
